.topContainer {
  margin-top: 10px;
  width: 80%;
  border-radius: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.55);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.menuGroup {
  display: flex;
  justify-content: center;
  flex: 1;
}

.gradientName {
  background: linear-gradient(to right, #4116c5, #6c0bfa, #a12afb, #c666ad);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.menuTitles {
  color: #fff;
  padding-inline: 1rem;
  font-size: clamp(1rem, 3vw, 1.3rem);
  text-decoration: none;
}
.menuTitles:hover {
  color: #0077ff;
  text-decoration: underline;
  transform: translateY(-4px);
}
.resumeContainer {
  margin-left: auto;
}
.resumeButton {
  background-color: #0077ff;
}
